@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #000 url(bg.jpg);
  /*设置背景图片*/
  background-attachment: fixed;
  /*设置背景图像固定在页面不动*/
  background-blend-mode: hard-light;
  /*设置背景层的混合模式为高亮模式*/
}

.container {
  position: absolute;
  /*绝对定位*/
  top: 80px;
  /*距离顶部80px*/
  left: 100px;
  /*左边100px*/
  right: 100px;
  /*右边100px*/
  bottom: 80px;
  /*底部80px*/
  background: url(bg.jpg);
  /*背景图片*/
  background-attachment: fixed;
  /*设置背景图像固定在页面不动*/
  display: flex;
  /*使得背景图片固定在视口中*/
  justify-content: center;
  /*垂直居中*/
  align-items: center;
  /*水平居中*/
  flex-direction: column;
  /*垂直排列*/
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5),
    0 0 0 100px rgba(0, 0, 0, .1);
  /*添加了阴影效果*/
}

.container h2 {
  text-align: center;
  /*文本居中*/
  font-size: 10em;
  /*字体大小*/
  line-height: 0.7em;
  /*行间距*/
  color: #333;
  /*颜色*/
  margin-top: -80px;
  /*外边距顶部为-80px*/
}

.container h2 span {
  display: block;
  /*设置为块级元素*/
  font-weight: 300;
  /*字体浓度（粗细）*/
  letter-spacing: 6px;
  /*字符间距*/
  font-size: 0.2em;
  /*字体大小*/
}

.countdown {
  display: flex;
  /*弹性布局*/
  margin-top: 50px;
  /*外边距为50px*/
}

.countdown div {
  position: relative;
  /*相对定位*/
  width: 100px;
  /*宽度*/
  height: 100px;
  /*高度*/
  line-height: 100px;
  /*行高*/
  text-align: center;
  /*文本居中*/
  background: #333;
  /*背景颜色*/
  color: #fff;
  /*字体颜色*/
  margin: 0 15px;
  /*外边距*/
  font-size: 3em;
  /*字体大小*/
  font-weight: 500;
  /*字体浓度*/
}

.countdown div:before {
  content: '';
  /*为空*/
  position: absolute;
  /*绝对定位*/
  bottom: -30px;
  /*距离底部*/
  left: 0;
  /*距离左边*/
  width: 100%;
  /*宽度*/
  height: 35px;
  /*高度*/
  background: #ff0;
  /*背景色*/
  color: #333;
  /*字体色*/
  font-size: 0.35em;
  /*字体大小*/
  line-height: 35px;
  /* 行间距*/
  font-weight: 300;
  /* 字体浓度*/
}

.container #day:before {
  content: 'Days';
  /* 填写字符串“Days”*/
}

.container #hour:before {
  content: 'Hours';
  /* 填写字符串“Hours”*/
}

.container #minute:before {
  content: 'Minutes';
  /* 填写字符串“Minutes”*/
}

.container #second:before {
  content: 'Seconds';
  /* 填写字符串“Seconds”*/
}